div.navbar-brand {
	clear: all;
	height: auto;
}
h1 {
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
h2 {
	font-weight: bold;
}
.container {
	width: 100%;
}
*[id]:before { 
  display: block;
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
}
.item-tile {
	background-color: #337ab7;
	padding: 15px;
	color: white;
}